* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.app {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pads {
    background: lightblue;
    width: 100%;
    display: flex;
}

.pads > div {
    height: 100px;
    width: 100px;
    flex: 1;
}

.pad1 {
    background: #258ea6;
}

.pad2 {
    background: #549f93;
}

.pad3 {
    background: #2b4162;
}

.pad4 {
    background: #f7aef8;
}

.pad5 {
    background: #B388EB;
}

.pad6 {
    background: #9684A1;
}